<?xml version= "1.0" encoding ="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile" fileName="/root/peacock-log/peacock.log"
                     filePattern="/root/peacock-log/$${date:yyyy-MM}/peacock-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="100"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>